<!DOCTYPE html>
<html>
<head>
    <title>StoryToVideo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <h1>Welcome to EpicVisor</h1>
    <nav class="mb-3">
        <a href="{{ url_for('register') }}" class="btn btn-primary">Register</a>
        <a href="{{ url_for('login') }}" class="btn btn-secondary">Login</a>
        <a href="{{ url_for('feedback') }}" class="btn btn-info">Feedback</a>
        <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
    </nav>

    {% block content %}
    {% endblock %}

</div>

</body>
</html>
